<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
   
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  
     <servlet>
        <servlet-name>OurAuth</servlet-name>
        <servlet-class>servlet.OurAuth</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OurAuth</servlet-name>
        <url-pattern>/auth</url-pattern>
    </servlet-mapping>
    
     <servlet>
        <servlet-name>TokenServlet</servlet-name>
        <servlet-class>servlet.TokenServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TokenServlet</servlet-name>
        <url-pattern>/token</url-pattern>
    </servlet-mapping>
    
	<servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/account</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>servlet.ClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>/client</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ResourceServlet</servlet-name>
        <servlet-class>servlet.ResourceServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ResourceServlet</servlet-name>
        <url-pattern>/resource</url-pattern>
    </servlet-mapping>
    
	<servlet>
        <servlet-name>TokenIntrospection</servlet-name>
        <servlet-class>servlet.TokenIntrospection</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TokenIntrospection</servlet-name>
        <url-pattern>/introspect</url-pattern>
    </servlet-mapping>
    
    <filter>
    	<filter-name>AuthenticationFilter</filter-name>
    	<filter-class>filter.AuthenticationFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>AuthenticationFilter</filter-name>
    	<url-pattern>/client</url-pattern>
    	<url-pattern>/auth</url-pattern>
    </filter-mapping>
    
	<filter>
    	<filter-name>AuthorizationFilter</filter-name>
    	<filter-class>filter.AuthorizationFilter</filter-class>
    </filter>
    <filter-mapping>
    	<filter-name>AuthorizationFilter</filter-name>
    	<url-pattern>/resource</url-pattern>
    </filter-mapping>
    
</web-app>